html {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: grey;
}

.italic {
    font-style: italic;
    background-color: beige;
}

h1 , h2 , h3 {
    font-weight: lighter;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

p {
    font-size: 2em;
}

hr {
    width: 30%;
    margin-top: 5em;
    margin-bottom: 5em;
    opacity: .3;
}

.messages h2 {
    color: grey;
    text-align: center;
}

.noPicture {
    color: grey;
    text-align: center;
}

.link {
    display: block;
    text-align: center;
    background-color: beige;
    padding: 1em;
    color: black;
    font-size: 2em;
    border-radius: 5px;
    width: 250px;
    margin: 1em auto 2em;
}

.link:hover {
    background-color: white;
    color: grey;
}

/*************************************** PAGE ADMIN ************/

#blocAdmin {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#blocAdmin > h2 , #blocAdmin > h1 , #nouveauProjet > h2 , #imagesSlider h2 {
    text-align: center;
}

.blocLiensAdmin {
    width: 100%;
    height: 50px;
    background-color: beige;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

.blocLiensAdmin a {
    margin: 0 1em;
}

.imgMiniature {
    margin: 2px 2px;
    height: 100px;
}

#listeProjets > h2 , #introEdit > h2 {
    width: 100%;    
    text-align: center;
}

#listeProjets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#listeProjets > article {
    width: 45%;
    padding: 2em;
    margin: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gainsboro;
}

#listeProjets > article > h2 {
    text-align: center;
}

#listeProjets article .articleTools {
    font-size: 2em;
    text-align: center;
    margin: 3em;
}

#listeProjets article .articleTools a {
    padding: 1em;
    background-color: beige;
    border-radius: 10px;
}

#listeProjets article .articleTools a:hover , .blocLiensAdmin a:hover {
    color: black;
}


/***************************************************/

/*
		FORMULAIRES
*/

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border: 1px solid rgba(189, 195, 199, 1);
    border-radius: 8px;
    padding: 1em;
}

        /*
        LOGIN
        */

.customForm {
	width: 300px;
	margin: 3em auto;
	border: .5px solid rgba(189, 195, 199, 1);
	border-radius: 8px;
	text-align: center;
}

.customForm input {
    width: 60%;
    height: 2em;
    text-align: center;
	margin: 1em auto;

}

.customForm input , .introForm textarea {
	display: block;
	border: 1px solid rgba(189, 195, 199, 1);
	border-radius: 6px;
}

.customForm > .customFormButton {
	width: 30%;
}

        /*
        INTRO EDIT
        */

.introForm {
    width: 900px;
    margin: 2em auto;
    border-style: none;
}

.introForm label {
    font-size: 2.5em;
    margin: 1em;
}

.introForm textarea {
    padding: 1em;
    font-size: 2em;
    background-color: ghostwhite;
}

.introForm input , #imagesSliderSubmit {
    width: 100px;
    margin: 1em auto;
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid rgba(189, 195, 199, 1);
    padding: .5em;
}

.introForm input:hover , .customForm input:hover {
    background-color: white;
}

/*
PASSWORD CHANGE 
*/

.passwordChange > h2 {
    text-align: center;
}

#passwordChange > label {
    font-size: 1.7em;
    margin-top: 1em;

}

#submitChangePassword {
    width: 45%;
    font-size: 1.5em;
}


        /*
NOUVEAU PROJET
        */


#nouveauProjet > form {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

#nouveauProjet > form > label , #imagesSlider form label {
    font-size: 2em;
    padding: 1em 0;
}

#nouveauProjet > form > input , #nouveauProjet > form > textarea , #imagesSlider form input {
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding-left: 1em;
    font-size: 2em;
}

#nouveauProjet > form > input , #imagesSlider form input {
    height: 2.5em;
}

#nouveauProjet > form > textarea {
    padding: 1em;
}

#submitNewProject {
    width: 40%;
    margin: 1em auto;
}

#submitNewProject:hover {
    background-color: white;
}

#nouveauProjet > form > .publishLabel {
    text-align: center;
    padding-bottom: 0;
}


/*
    IMAGES FORM
*/

.imagesForm {
    margin-top: 2em;
}

.imagesForm #imageGallerySubmit , .imagesForm #imagesProjectSubmit , .imagesForm #imagesSliderSubmit {
    width: 15%;
    margin: 1em auto;
}

.displayTitleImage > img {
    width: 100%;
}

#imagesSliderSubmit {
    width: 10%;
}

#imagesSlider form {
    width: 70%;
    margin: 5px auto;
}