html {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

h1 , h2 , h3 {
    font-weight: lighter;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}

hr {
    width: 30%;
    margin-top: 5em;
    margin-bottom: 5em;
    opacity: .3;
}

.footerAdmin {
    margin-top: 75px;
    height: 100px;
    width: 100%;
    display: block;
    background-color: beige;
}

#backToTheTop {
    opacity: .3;
}

#backToTheTop:hover {
    opacity: 1;
}

.published {
    padding: 5px;
    background-color: rgba(200, 247, 197, 1);
    font-size: 1.5em;
}

.unpublished {
    padding: 5px;
    background-color: rgba(253, 227, 167, 1);
    font-size: 1.5em;
}

.messages h2 {
    color: grey;
    text-align: center;
}

.messages .errorMessage {
    color: red;
}

.messages .successMessage {
    color: green;
}

.noPicture {
    color: grey;
    text-align: center;
}

.link {
    display: block;
    text-align: center;
    background-color: beige;
    padding: 1em;
    color: black;
    font-size: 2em;
    border-radius: 5px;
    width: 250px;
    margin: 1em auto 2em;
}

.link:hover {
    background-color: white;
    color: grey;
}

#backToTheTop {
    font-size: 7em;
    width: 60px;
    text-align: center;
    position: fixed;
    right: 60px;
}

/*************************************** PAGE ADMIN ************/

#blocAdmin {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#listeProjets article h3 {
    padding-left: 20px;
}

#blocAdmin > h2 , #blocAdmin > h1 , #nouveauProjet > h2 , #imagesSlider h2 {
    text-align: center;
    margin: 35px;
}

.blocLiensAdmin {
    width: 100%;
    height: 50px;
    background-color: beige;
    display: flex;
    font-size: 1vw;
    justify-content: space-between;
    align-items: center;
}

.blocLiensAdmin a {
    margin: 0 1em;
}

.imgMiniature {
    margin: 2px 2px;
    height: 100px;
}


#listeProjets > h2 , #introEdit > h2 , #introImageEdit > h2 {
    width: 100%;    
    text-align: center;
}

#listeProjets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#listeProjets > article {
    width: 45%;
    padding: 2em;
    margin: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gainsboro;
}

#listeProjets > article > h2 {
    text-align: center;
}

.articleTools {
    font-size: 1.4em;
    text-align: center;
    margin: 3em;
    display: flex;
    justify-content: center;
}

.articleTools a {
    padding: 1em;
    background-color: beige;
    border-radius: 10px;
    margin: 5px;
}

.articleTools a:hover , .blocLiensAdmin a:hover {
    color: black;
    text-decoration: none;
}

.articleTools > a.buttonDeleteProject:hover {
    color: red;
}


/***************************************************/

/*
		FORMULAIRES
*/

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border: 1px solid rgba(189, 195, 199, 1);
    border-radius: 8px;
    padding: 1em;
}

        /*
        LOGIN
        */

.customForm {
	width: 300px;
	margin: 3em auto;
	border: .5px solid rgba(189, 195, 199, 1);
	border-radius: 8px;
	text-align: center;
}

.customForm input {
    width: 60%;
    height: 2em;
    text-align: center;
	margin: 1em auto;

}

.customForm input , .introForm textarea {
	display: block;
	border: 1px solid rgba(189, 195, 199, 1);
	border-radius: 6px;
}

.customForm > .customFormButton {
	width: 30%;
}

        /*
        INTRO EDIT
        */

.introForm {
    width: 900px;
    margin: 2em auto;
    border-style: none;
}

.introForm label {
    font-size: 2em;
    font-weight: normal;
    margin: 1em;
}

.introForm textarea {
    padding: 1em;
    font-size: 2em;
    background-color: ghostwhite;
}

.introForm input , #imagesSliderSubmit {
    margin: 1em auto;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid rgba(189, 195, 199, 1);
    padding: .5em;
}

.introForm input:hover , .customForm input:hover {
    background-color: white;
}

/*
PASSWORD CHANGE 
*/

.passwordChange > h2 {
    text-align: center;
}

#passwordChange > label {
    font-size: 1.7em;
    margin-top: 1em;

}

#submitChangePassword {
    width: 45%;
    font-size: 1.5em;
}


        /*
NOUVEAU PROJET
        */


#nouveauProjet > form , #introImageEdit > form {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

#nouveauProjet > form > label , #imagesSlider form label , #introImageEdit > form label {
    font-size: 1.7em;
    padding: 1em 0;
    font-weight: normal;
}

#nouveauProjet > form > input , 
#nouveauProjet > form > textarea , 
#imagesSlider form input , 
#introImageEdit > form input {
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding-left: 1em;
    font-size: 1.6em;
}

#nouveauProjet > form > input , 
#imagesSlider form input ,
#introImageEdit > form input {
    height: 2.5em;
}

#introImageEdit > form #imageIntroSubmit {
    width: 20%;
    margin: 10px auto;
}

.displayIntroImage img {
    display: block;
    width: 250px;
    margin: 1em auto;
    border-radius: 250px;
}

.displayIntroImage > label {
    display: block;
    text-align: center;
}

#nouveauProjet > form > textarea {
    padding: 1em;
}

#submitNewProject {
    width: 40%;
    margin: 1em auto;
}

#submitNewProject:hover {
    background-color: white;
}

#nouveauProjet > form > .publishLabel {
    text-align: center;
    padding-bottom: 0;
}


/*
    IMAGES FORM
*/

.imagesForm {
    margin-top: 2em;
}

.imagesForm #imageGallerySubmit , .imagesForm #imagesProjectSubmit , .imagesForm #imagesSliderSubmit {
    width: 15%;
    margin: 1em auto;
}

.displayTitleImage > img {
    width: 100%;
}

#imagesSliderSubmit {
    width: 10%;
}

#imagesSlider form {
    width: 70%;
    margin: 5px auto;
}



/*
BOUTON DE SUPPRESSION D'IMAGE
*/

.deleteButton {
    position: relative;
    left: -40px;
    bottom: -30px;
    color: grey;
    font-size: 1.2em;
    opacity: .5;
}

.deleteButton .newProject {
    bottom: 20px;
}

.deleteButton:hover {
    color: red;
    transition: all 0.2s ease;
    transform: scale(1.5);
    opacity: 1;
    
}


/* SURCHARGE de FROALA */

a#logo {
    display: none;
}