/* @font-face {
	font-family: "Brandon Grotesque";
	font-weight: normal;
	font-style: normal;
	src: url("../police/Brandon_Grotesque/Brandon_reg.otf") format("opentype");


Jaune : #FEEB17
Vert : #5B997B
Bleu : #003F5A

} */

@font-face {
	font-family: "Brandon Grotesque";
	font-weight: normal;
	font-style: normal;
	src: url("../police/Brandon_Grotesque/Brandon_light.otf") format("opentype");
}

@font-face {
	font-family: "Brandon Grotesque";
	font-weight: bold;
	font-style: normal;
	src: url("../police/Brandon_Grotesque/Brandon_bld.otf") format("opentype");
}

@font-face {
	font-family: "Brandon Grotesque";
	font-weight: medium;
	font-style: normal;
	src: url("../police/Brandon_Grotesque/Brandon_med.otf") format("opentype");
}

@font-face {
	font-family: "Brandon Grotesque";
	font-weight: lighter;
	font-style: normal;
	src: url("../police/Brandon_Grotesque/Brandon_thin.otf") format("opentype");
}


.flex-direction-nav a.flex-next,.flex-direction-nav a.flex-prev{
    display:none;
}

div.flexslider {
	border: 0;
}

.display-flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

html {
	font-size: 62.5%;
	font-family: "Brandon Grotesque" , 'Open Sans', sans-serif;
}

h1 {
	font-size: 3.5rem;
	font-weight: lighter;
}

h2 {
	font-size: 2.5rem;
	font-weight: normal;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
}

h4 {
	font-size: 1.5rem;
	font-weight: normal;
}

p {
	font-size: 1.5rem;
}

h1#titre {
	font-weight: normal;
	font-size: 3.7rem;
}

.mentions {
	padding-top:250px;
	width: 80%;
	margin:auto;
	font-size:2vw;
}
.mentions p {
	font-size:2vw;
}

/** Classes génériques */

.spinner {
	background: center / contain no-repeat url("../spin2.gif");
	background-size: 10%;
	width: 100%;
}
.spinner > a, .spinner > img {
	opacity: 0;
}

.align-center {
	text-align: center;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

.margin-2 {
	margin: 2rem;;
}
.mt-2 {
	margin-top: 2rem;;
}
.mr-3 {
	margin-right: 3rem;
}
.mr-4 {
	margin-right: 4rem;
}
.ml-3 {
	margin-left: 3rem;
}

.ml-4 {
	margin-left: 4rem;
}

.pt-1 {
	padding-top: 1rem;
}

.pt-2 {
	padding-top: 2rem;
}

.padding-1 {
	padding: 1rem;
}
.padding-2 {
	padding: 2rem;
}


.block {
	display: block;
}

.width-100 {
	width: 100%;
}

.max-width-90 {
	max-width: 90%;
}

.max-width-80 {
	max-width: 80%;
}

.max-width-70 {
	max-width: 70%;
}

.max-width-60 {
	max-width: 60%;
}

.max-width-50 {
	max-width: 50%;
}

.max-width-550 {
	max-width: 550px;
}

.max-width-1200 {
	max-width: 1200px;
}

.width-max-content {
	width: max-content;
}

.height-400 {
	height: 400px;;
}

.height-500 {
	height: 500px;
}

.width-50pc {
	width: 50%;
}

.overflow-hidden {
	overflow: hidden;
}

.font-3 > p, .font-3 {
	font-size: 3rem;
}

.font-2-5 > p, .font-2-5 {
	font-size: 2.5rem;
}


p#sousTitre {

	padding-left: 15px;
}

#logoNom {
	width: 110px;
	margin-top: 17px;
}

*:hover {
	transition: all .3s ease 0s;
}

span.bold , a.bold  {
	font-weight: bold;
}

body {
	width: 100%;
}

div.clear {
	clear: both;
}

.container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: black;
	text-decoration: none;
}

#parentLogo {
	width: 90px;
}

#logo {
	padding: 10px 0 10px 0;
	width: 100%;
}


#blocImageAccueil {
	display: none;

}

.align-center {
	text-align: center;
}


/** Page inspirations */

.partenaires {
	max-width: 1000px;
	margin: auto;
	padding: 3em;
}

.partenaires .texte-liens p {
	font-size: 2rem;
}

.partenaires .texte-liens p a /*.asideProjet div p:hover*/ {
	text-decoration: underline;
	color: grey;
}

.partenaires .texte-liens p a:hover , .asideProjet div p:hover {
	color: black;
}



/**
* Page MISSIONS
*/

.missions-header {
  padding-top: 120px;
}

.intro-missions {
  padding-bottom: 9rem;
}

.intro-missions > p {
  margin-top: 0;
}

.missions-header > p {
  position: relative;
  top: -180px;
  font-size: 3.5rem;
}

.missions > div {
  padding-bottom: 3rem;;
}

.missions img {
  height: 100%;
}


/** Footer */

footer #logoFooter {
	width: 120px;
}




 /***********************************************************************/
 /*  MOBILE 
 __  __  ___  ____ ___ _     _____ 
 |  \/  |/ _ \| __ )_ _| |   | ____|
 | |\/| | | | |  _ \| || |   |  _|  
 | |  | | |_| | |_) | || |___| |___ 
 |_|  |_|\___/|____/___|_____|_____|
                                    
*/

@media screen and (max-width: 767px) {



/*************** HEADER *****************/

#navDesktop {
	display: none;
}

#parentLogo {
	margin: 15px auto;
}

#sousTitre {
	margin-top: 10px;
}

#blocLogoTitre {
	text-align: center;
}

#blocCentreHeader {
	display: flex;
	flex-direction: column-reverse;
}

#ImageTitre {
	height: 25px;
	margin-top: 20px;
}

p#sousTitre {
	text-align: center;
	padding-left: 10px ;
	font-size: 2.5rem;
}


#navMobile {
	width: 150px;
	margin: 20px auto;
	text-align: center;
	color: #5B997B;
}


#navMobile i {
	font-size: 4rem;
}

#introduction {
	margin-top: 35px;
}




/*********** HOME ***********************/

	#introduction {
		text-align: justify;
		margin: 20px auto;
		width: 90%;
		font-weight: lighter;
	}

	#introduction p {
		padding-top: 30px;
	}

	#introduction img {
		display: block;
		width: 150px;
		margin: 0 auto;
		border-radius: 250px;

	}

}

	/************************************************************/
	/******************* TABLETTE *******************************/
	/****************************************************************/
/*
	___ ____   _    ____  
	|_ _|  _ \ / \  |  _ \ 
	 | || |_) / _ \ | | | |
	 | ||  __/ ___ \| |_| |
	|___|_| /_/   \_\____/ 
						   
*/


	@media screen and (min-width: 768px) {


	.container {
		width: 90%;
	}

	#navMobile {
			display: none;
		}

	header {
		width: 100%;
		background-color: white;
		position: fixed;
		z-index: 10;
	}

	#blocCentreHeader {
		height: 100px;
		margin-top: 10px;
		margin-bottom: 10px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}


	#blocLogoTitre {
		display: flex;
		align-items: baseline;
		width: 500px;
	}

	#ImageTitre {
		height: 20px;
		margin-top: 39px;
	}

	p#sousTitre {
		margin-top: 45px;

	}

	p#sousTitre , #navDesktop a {
		font-size: 2rem;
	}

	#navDesktop {	
		width: 500px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-left: 0px;
		margin: 45px 0 0 0;
		list-style: none;
	}

	#navDesktop a {
		padding-left: 15px;
	}

	
	#navDesktop a:hover {
		color: grey;
	}

	#parentLogo {
		margin: 0;
	}


	/********** FOOTER TABLETTE ******************************/

	footer {
		margin-top: 220px;
		background-color: #FEEB17;
		height: 450px;
		text-align: center;
	}

	#sectionFooter {
		margin: 0 auto;
		justify-content: space-around;

	}

	footer #logoFooter {
		position: relative;
		top: -20px;
	}

	footer #infosFooter {
		margin: -35px auto 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 95%;
	}

	#infosFooter div {
		padding: 10px;
		align-self: center;
	}

	
	footer #infosFooter p {
		font-size: 1.8rem;
		margin: 5px;
	}

	footer #navFooter , #navFooter2 {
		width: 300px;
		margin: 10px auto;
		font-size: 2.5rem;
	
	}

	footer #navFooter {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	#navFooter div {
		padding-top: 20px;
	}

	footer #navFooter a , #navFooter2 a {
		padding: 15px;
	}

	footer #navFooter a:hover , #navFooter2 a:hover {
		color: grey;
	}

	/******** ACCUEIL SLIDER PRESENTATION IPAD *****/


	#blocImageAccueil {
		padding-top: 120px;
		display: block;
	}

	#blocImageAccueil img {
		width: 100%;
	}

	#introduction {
		text-align: center;
		margin: 100px auto;
		width: 400px;
		font-weight: lighter;
	}

	#introduction p {
		padding-top: 30px;
		font-size: 1.8rem;
	}

	#introduction img {
		width: 150px;
		border-radius: 250px;

	}



				/*************** MOSAIQUE IPAD **************/


	#mosaique {
		padding-top: 100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	#mosaique .imageMosaique {
		position: relative;
		width: 45%;
		margin-top: 10px;
	}

	#mosaique .imageMosaique img {
		width: 100%;
	}

	.imageMosaique .texteVignette {
		opacity: 0;
		position: absolute;
		top: 20px;
		left: 0px;
		font-size: 2.2rem;
		width: 80%
	}

	#mosaique .imageMosaique:hover img {
		opacity: 0.3;
		transition: all 1s ease;
	}

	#mosaique .imageMosaique:hover .texteVignette {
		opacity: 1;
		transform: translateX(40px);
		transition: all 1s ease;

	}


 /********* PAGE ARTICLE PROJET TABLETTE **********************/

	.blocImages {
		display: inline-block;
		float: left;
	}

	.titreArticle {
		margin-top: 0;
	}

	.articleProjet {
		padding-top: 150px;
		margin: 0 auto;
	}


	.asideProjet {
		padding-left: 20px;
		position: sticky;
		display: inline-block;
		width: 42%;
	}


	.blocImages {
		width: 55%;
	}

	.articleProjet img {
		width: 100%;
		padding-bottom: 20px;
	}

	.imagesCorpsArticle img {
		padding-top: 1em;
	}

	
	div.sousTitreArticle, 
	div.sousTitreArticle p, 
	div.sousTitreArticle span {
		font-size: 2.5rem;
		margin-bottom: 1em;
	}
	div.texteArticle, 
	div.texteArticle p , 
	div.texteArticle span  {
		font-size: 2rem;
		margin-bottom: 2em;
	}

	}


/** Page Formulaire de contact ***********
*/

.contactForm {
	font-size: 2.3em;
	width: 800px;
	margin: 0 auto;
}
.contactForm legend {
	font-size: 1.5em;
	padding: 10px;
	display: block;
	margin: auto;
	text-align: center;
}
.contactForm fieldset {
	border: none;
}

.contactForm input , textarea {
	width: 50%;
	display: block;
	margin: auto;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	font-size: .8em;
}
.contactForm ul {
	padding: 0;
	margin: 0;
}
.contactForm ul li {
	list-style: none;
}
.contactForm label {
	display: block;
	padding: 8px;
	margin-top: 10px;
	text-align: center;
}
.contactForm .buttons {
	width: 110px;
	height: 40px;
	font-size: .8em;
	margin-top: 15px;
}





	
	/** Gallery page inspirations **************************************/

	.fluid-gallery {
		padding-top: 150px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1000px;
		margin: auto;
	}

	.fluid-gallery a {
		padding: 0;
	}

	.fluid-gallery img {
		padding: 2px;
	}

	.double img {
		max-width: 256px;
		display: flex;
		flex-wrap: wrap;
	}

	.single img {
		height: 345px;
	}






/*
	____  _____ _____ ___ _____   ____  _____ ____  _  _______ ___  ____  
	|  _ \| ____|_   _|_ _|_   _| |  _ \| ____/ ___|| |/ /_   _/ _ \|  _ \ 
	| |_) |  _|   | |  | |  | |   | | | |  _| \___ \| ' /  | || | | | |_) |
	|  __/| |___  | |  | |  | |   | |_| | |___ ___) | . \  | || |_| |  __/ 
	|_|   |_____| |_| |___| |_|   |____/|_____|____/|_|\_\ |_| \___/|_|    
		
	*/

				/*****************************/
	/**************** PETIT DESKTOP *******************/
				/*****************************/

		@media screen and (min-width: 1024px) {


		/*** HEADER PETIT DESK ***/

	p#sousTitre , #navDesktop a {
		font-size: 2.3rem;
	}

	#navDesktop a {
		padding-left: 20px;
	}

	#introduction {
		width: 500px;
	}

	#introduction p {
		font-size: 2.3rem;
	}

	#logo {
		padding-left: 0;
	}

	#ImageTitre {
		height: 23px;
	}

	/** FOOTER PETIT DESKTOP **/



	footer {
		height: 490px;
	}

	#sectionFooter {
		width: 90%;
		margin: 0 auto;
	}

	footer #logoFooter {
		top: -50px;
	}

	#infosFooter div {
		width: 45%;
	}
	

	footer #infosFooter {
		margin-top: -83px;
	}







/*
	____ ____      _    _   _ ____    ____  _____ ____  _  _______ ___  ____  
	/ ___|  _ \    / \  | \ | |  _ \  |  _ \| ____/ ___|| |/ /_   _/ _ \|  _ \ 
   | |  _| |_) |  / _ \ |  \| | | | | | | | |  _| \___ \| ' /  | || | | | |_) |
   | |_| |  _ <  / ___ \| |\  | |_| | | |_| | |___ ___) | . \  | || |_| |  __/ 
	\____|_| \_\/_/   \_\_| \_|____/  |____/|_____|____/|_|\_\ |_| \___/|_|    

*/


/*************************************************************/
/*********************** GRAND DESKTOP ***********************/
/*************************************************************/


			@media screen and (min-width: 1400px) {

			/*********************** ACCUEIL GD **************************/

			.container {
					width: 80%;
				}

			#blocCentreHeader {
				margin: 0 auto;
				height: 120px;
			}

			#logo {
				padding-left: 0;
			}


			#blocLogoTitre h1 {
				float: left;
				padding-top: 40px;
				margin: 0;
			}

			#navDesktop a , p#sousTitre {
				font-size: 2.3rem;
				padding: 0 0 0 10px;
			}

			#navDesktop {	


				list-style: none;
			}

			#navDesktop a {
				padding-left: 30px;
			}

		


		/** FOO FOO FOO FOO FOOTEEEER **/


			footer {
				height: 500px;
			}


			footer #logoFooter {
				top: -60px;
			}
		
			footer #infosFooter {
				margin-top: -83px;
			}

		/******** ACCUEIL SLIDER PRESENTATION GRAND DESKTOP *****/

			#introduction {
				width: 600px;
			}

			#introduction p {
				font-size : 2.5rem;
			}

			#introduction img {
				width: 200px;
			}



					/***** MOSAIQUE GD *****/


			#mosaique {
				padding-top: 140px;

			}

			.imageMosaique .texteVignette > p {
				font-size: 2.2rem;
			}

			.imagemosaique {
				padding-top: 40px;
			}



		/**************************** PAGE LE PROJET *************/

			.articleProjet {
				padding-top: 160px;
			}

			.articleProjet img {
				padding-bottom: 20px;
			}

			.asideProjet {
				top: 160px;
			}




		}}