html {
	font-size: 62.5%;
}

.container {
	max-width: 1500px;
}

a {
	color: black;
	text-decoration: none;
}

header {

}


#logo {

	display: block;
	padding: 30px;
	width: 135px;
	margin: 0 auto;

}

#logoMenu {

	color: #f4ff1c;

}

#navMobile i {
	font-size: 3rem;
}

#navMobile {
	width: 150px;
	margin: 0 auto;
	text-align: center;
}


#blocImageAccueil {
	display: none;
	width: 1250px;
}


/********* TABLETTE **********/

@media screen and (min-width: 768px) {


#blocImageAccueil {

display: block;

}

}



/********* DESKTOP ***********/

@media screen and (min-width: 1025px) {

#navDesktop {
	float: right;
}

#navDesktop ul {
		
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	font-size: 2rem;

}

#navDesktop ul a {

	padding: 10px;

}
