html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

*:hover {
	transition: all .3s ease 0s;
}


body {
	width: 100%;
}

.container {
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: black;
	text-decoration: none;
}

header {

}


#logo {
	float: left;
	padding: 30px;
	width: 60px;
}


#navMobile i {
	font-size: 3rem;
}

#navMobile {
	width: 150px;
	margin: 0 auto;
	text-align: center;
}


#blocImageAccueil {
	display: none;

}


/********* TABLETTE **********/

@media screen and (min-width: 768px) {


}



/********* DESKTOP ***********/

@media screen and (min-width: 1025px) {

	/*********************** ACCUEIL **************************/

	header {
		width: 100%;
		background-color: white;
		position: fixed;
		z-index: 1;
	}

	footer {
		margin-top: 70px;
		background-color: #ffcc00;
		height: 300px;
		text-align: center;
		font-weight: lighter;
	}

	#sectionFooter {
		width: 400px;
		margin: 0 auto;
		padding-top: 30px;
		display: flex;
		justify-content: space-around;

	}

	footer #logoFooter {
		align-self: start;
		width: 110px;
		padding: 30px 0 0 0;

	}

	footer #infosFooter {
		padding-left: 30px;
		margin-top: 19px;
		margin-left: 20px;
		border-left: 2px solid black;
	}

	footer #infosFooter p {
		font-size: 1.5rem;
		margin: 5px;
	}

	footer #navFooter {
		width: 500px;
		margin: 10px auto;
		font-size: 2.5rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
	}

	footer #navFooter a {
		padding: 15px;
	}

	#blocLogoTitre {
		width: 500px;
		margin-left: 250px;
		float: left;
	}

	#blocLogoTitre h1 {
		font-weight: lighter;
		padding-top: 43px;
		margin: 0;

	}

	#logo {
		margin-right: 20px;
	}

	#navMobile {
		display: none;
	}

	#navDesktop {
		float: right;
	}

	#navDesktop ul {	
		display: flex;
		flex-direction: row;
		padding: 67px 300px 0 0;	
		margin: 0;
		list-style: none;
		font-size: 2rem;

	}

	#navDesktop ul a {
		padding-left: 30px;
	}


	#blocImageAccueil {
		display: block;
	}

	#blocImageAccueil img {
		width: 100%;
	}

	#introduction {
		text-align: center;
		margin: 50px auto;
		font-size: 2rem;
		width: 600px;
		font-weight: lighter;
	}

	#introduction p {
		padding-top: 30px;
	}

	#introduction img {

		width: 200px;
		border-radius: 250px;

	}



			/***** MOSAIQUE *****/


	#mosaique {
		padding-top: 100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	#mosaique .imageMosaique {
		position: relative;
		width: 450px;
		margin-top: 40px;
	}

	#mosaique .imageMosaique img {
		width: 100%;
	}

	.imageMosaique .texteVignette {
		opacity: 0;

		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 2rem;
	}

	#mosaique .imageMosaique:hover img {
		opacity: 0.5;
	}

	#mosaique .imageMosaique:hover .texteVignette {
		opacity: 1;
		transition: all 0.5s ease;

	}



}